<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h2 class="navbar-brand me-2 w-25">WEATHER APP</h2>
      <form class="d-flex input-group w-25" >


        <input
          type="text"
          placeholder="Search city"
          [formControl]="form"
          class="form-control rounded"
        />
        <!-- <button class="btn btn-outline-primary rounded border" type="submit" (click)="getUserLocation()">
          <i class="fa fa-map-marker fa-sm"></i>
        </button> -->
      </form>
      <div class="w-25 text-end">
        <button class="btn btn-outline-primary rounded border"><i class="fa fa-cog fa-sm" disabled></i></button>
      </div>

    </div>
  </nav>
</header>
