<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h2 class="navbar-brand me-2">W E A T H E R</h2>
      <form class="d-flex input-group w-auto" >


        <input
          type="text"
          placeholder="Search city"
          [formControl]="form"
          class="form-control rounded"
        />
        <!-- <button class="btn btn-outline-primary rounded border" type="submit" (click)="getUserLocation()">
          <i class="fa fa-map-marker fa-sm"></i>
        </button> -->
      </form>
       <button class="btn btn-outline-primary rounded border"><i class="fa fa-cog fa-sm"></i></button>

    </div>
  </nav>
</header>
